---
# Server configuration
server:
    host: "0.0.0.0"
    port: 2030
    ai_server_url: "http://localhost:9999"
    frontend_url: "http://localhost:5173"

# Logger configuration
logger:
    max_size: 10
    max_backups: 5
    max_age: 30
    compression: true
    local_time: true

# JWT configuration
jwt:
    secret_key: "your_secret"
    expire_mins_count: 15
    refresh_key: "refresh_secret"
    refresh_expire_hours_count: 720

# Database configuration for email whitelist
database:
    # Database type: "mysql" or "postgresql"
    type: "mysql"
    host: "192.168.2.12"
    port: 3306
    user: "admin"
    password: "pokiwar0981"
    db: "shop"
    ssl: false
    max_idle_conns: 5
    max_open_conns: 25
    conn_max_lifetime: 300 # seconds

# Redis configuration
redis:
    host: "redis-11030.c1.ap-southeast-1-1.ec2.redns.redis-cloud.com"
    port: 11030
    password: "UqIklPGg9na7naIGGTTlvrIXqWPsTJSH" # Leave empty if no password
    db: 0 # Default database
    ssl: false # Enable SSL/TLS connection
    max_retries: 3 # Maximum number of retries
    pool_size: 10 # Maximum number of connections in the pool
    min_idle_conns: 5 # Minimum number of idle connections
    max_conn_age: 0 # Maximum connection age in seconds (0 means no limit)
    pool_timeout: 4 # Pool timeout in seconds
    idle_timeout: 300 # Idle connection timeout in seconds
    read_timeout: 3 # Read timeout in seconds
    write_timeout: 3 # Write timeout in seconds
